.modify{
    position: relative;
    left:500px;
    top:100px;
}

.notification{
    position: relative;
    top:10px;
    left:100px;
}

.size-printer{
    position: relative;
    top:300px;
    right:150px;
}
.alert {
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
  }

  .adder {
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
  }
  